@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #1f2937;
    /* height: 100%;
    width: 100%; */
    font-family: Roboto, sans-serif;
    padding: auto;
}
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: center ;
    gap: 826px;
    margin: 35px;
    
    
}
.content{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: auto;
    padding: auto;
    
}
.sec1{
    background-color: #1f2937;
    display: flex;
    color: #E5E7EB; 
    justify-content: space-around;
    
}
.sec1 .title{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.sec1 article{
    font-size: 18px;
    font color:#E5E7EB; ;
}
.con{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 430px;
    
}
.logo{
    width: 80px;
    height: 65px;

}

.der-links{
    display: flex;
    gap: 26px;
    color: white;
    align-items: center;
}
.der-links a
{
    color: white;
}
.quote{
    display: flex;
    background-color: #E5E7EB;
    height: 250px;
    width: 800px;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 40px;
}
.thor {
   font-size: 36px;
   font-style: light italic;
   color: #1f2937;
   
}
.thor p{
    font-size: 18px;
    font-style: light italic;
    color: #1f2937;
    font-weight: bold;
    padding-left: 500px;
}

.random{
    display: flex;
    flex-direction: column;
    gap: 32px;
    
} 
.info{
    display: flex;
    justify-content: center;
    gap: 52px;
}
.random .titulo{
    text-align: center;
    font-size: 24px;
    font-weight: bold;

}
.imgran{
    width: 100px;
    
 
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 225px;
    
   
    
}
.call{
    display: flex;
    width: 800px;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    flex-basis: 800px;
}
.call .texto{
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    flex-basis: 475px;
}
.itstime{
    height: 1px;
    
}
.call .but2{
    background-color: #3882f6;
    color: #E5E7EB;
    border: 1px solid #E5E7EB;
    width: 100px;
    border-radius: 5px;
  

}
ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    display: flex;
  }
  .footer{
    text-align: center;
    color: white;
    height: 25px;;
    width: 100%;
    background-color: rgb(7, 122, 160);
    font-weight: 900;
  }

img{
    height: 100px;
    width: 100px;
}
.img1{
    height: 200px;
    width: 400px;
}   

.imgran img{
    border: solid cyan;
    border-radius: 15px;
}